<option value="{{id}}"
        data-first-name="{{first_name}}"
        data-last-name="{{last_name}}"
        data-middle-name="{{middle_name}}"
        data-resource-uri="{{resource_uri}}"
        data-id="{{id}}">
    {{last_name}}, {{first_name}} {{middle_name}}

</option>