<tr id="document-{{id}}">
    <td id="document-data-{{id}}" width="60%">
        <h4 class="document-title" data-toggle="tooltip" title="{{location}}">{{title}}</h4>
        {{#each authors}}
            <h4 class="author-name">{{last_name}}, {{first_name}} {{middle_name}}</h4>
        {{/each}}
        <p>{{abstract}}</p>
    </td>
    <td id="document-buttons-{{id}}">
        <button class="btn btn-primary btn-xs edit-document" data-id="{{id}}"
                data-toggle="tooltip" title="Edit document">
            <i class="fa fa-edit" data-id="{{id}}"></i>
        </button>
        <button class="btn btn-primary btn-xs rename-document" data-id="{{id}}"
                data-toggle="tooltip" title="Rename document">
            <i class="fa fa-file-text" data-id="{{id}}"></i>
        </button>
        <button class="btn btn-primary btn-xs view-document" data-id="{{id}}"
                data-toggle="tooltip" title="View document">
            <i class="fa fa-eye" data-id="{{id}}"></i>
        </button>
        <button class="btn btn-danger btn-xs delete-document" data-id="{{id}}"
                data-toggle="tooltip" title="Delete document">
            <i class="fa fa-close" data-id="{{id}}"></i>
        </button>
    </td>
    <td>
      <div class="checkbox">
        <label>
          <input type="checkbox" id="check-{{id}}">
        </label>
      </div>
    </td>
</tr>
