<tr>
  <td id="document-{{id}}">
    <h4>{{title}}</h4>
    <h4>{{location}}</h4>
    <h4>{{authors}}</h4>
    <p>{{abstract}}</p>
  </td>
  <td>
    <button class="btn btn-primary btn-xs" id="edit-document-{{id}}">
      <i class="fa fa-edit"></i>
    </button>
    <button class="btn btn-danger btn-xs" id="delete-document-{{id}}">
      <i class="fa fa-close"></i>
    </button>
  </td>
</tr>
